.idea/
target/
*.iml
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
xc-ui-pc-static-portal/img/.DS_Store
xc-ui-pc-static-portal/plugins/bootstrap/.DS_Store
xc-ui-pc-static-portal/plugins/bootstrap/dist/.DS_Store
xc-ui-pc-static-portal/plugins/bootstrap/less/.DS_Store
xc-ui-pc-static-portal/plugins/bootstrap/node_modules/
xc-ui-pc-static-portal/plugins/jquery/.DS_Store
xc-ui-pc-static-portal/plugins/jquery/external/.DS_Store
xc-ui-pc-static-portal/plugins/jquery/external/sizzle/.DS_Store
xc-ui-pc-static-portal/plugins/jquery/src/.DS_Store
xc-ui-pc-static-portal/plugins/jquery/src/ajax/.DS_Store
xc-ui-pc-static-portal/plugins/jquery/src/core/.DS_Store
xc-ui-pc-static-portal/plugins/jquery/src/css/.DS_Store
xc-ui-pc-static-portal/plugins/jquery/src/data/.DS_Store
xc-ui-pc-static-portal/plugins/jquery/src/manipulation/.DS_Store
xc-ui-pc-static-portal/plugins/jquery/src/traversing/.DS_Store
Doc/nginx-1.12.2/temp/
xc-framework-utils/src/main/resources/
xc-framework-utils/src/test/
xc-service-base-filesystem/src/test/
xc-service-learning/src/test/
xc-service-manage-cms-client/src/test/
xc-service-manage-course/src/test/
xc-service-manage-media-processor/src/test/
xc-service-manage-media/src/test/
xc-service-manage-order/src/test/
xc-service-search/src/test/
xc-service-ucenter/src/test/
xc-web/xc-ui-pc-sysmanage/src/module/cms/components/
xc-web/xc-ui-pc-sysmanage/src/module/home/components/
xc-web/xc-ui-pc-sysmanage/src/statics/images/
xc-web/xc-ui-pc-teach/src/module/media/components/
xc-web/xc-ui-pc-teach/src/statics/images/
Doc/nginx-1.12.2/